@import '../node_modules/@vscode/codicons/dist/codicon.css';

body.vscode-light {
    --button-color: rgb(214, 214, 214);
    --button-color-hover: rgb(196, 196, 196);
}

body.vscode-dark {
    --button-color: var(--vscode-button-secondaryBackground);
    --button-color-hover: var(--vscode-button-secondaryHoverBackground);
}

$borderColor: var(--vscode-editor-foreground);
$textColor: var(--vscode-editor-foreground);

$buttonBackground: var(--button-color);
$buttonBackgroundHover: var(--button-color-hover);

header {
    text-align: center;
    margin-bottom: 20px;

    &>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        vscode-text-field {
            width: 50%;
        }

        // WHAT IS THIS DIV ??
        &>div:last-child    {
            display: none;
        }
    }
}

main {
    vscode-divider {
        margin-top: 0;
        margin-bottom: 0;
        border-top-color: $borderColor;
    }

    section {
        .collapsible-button{
            background-color: $buttonBackground;
            color: $textColor;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 1.5em;
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                font-size: 1.5em !important;
                font-weight: bold !important;
            }

            &:hover, &.active {
                background-color: $buttonBackgroundHover;
            }

            .collapsible-button-actions {
                display: flex;
                vscode-button {
                    margin-right: 10px;
                    color: $textColor;
                }
            }
        }

        .collapsible-section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            display: none;

            article {
                min-width: 135px;
                width: 15%;
                margin: 10px;
                border-radius: 10px;
                border: 1px $borderColor solid;

                svg {
                    width: 100%;
                }

                .copyValue {
                    display: flex;
                    justify-content: center;

                    button {
                        width: 50%;
                        background-color: transparent;
                        border: 1px lightgray solid;
                        cursor: pointer;
                        &:first-child {
                            border-radius: 0 0 0 5px;
                        }
                        &:last-child {
                            border-radius: 0 0 5px 0;
                        }

                        &:hover {
                            filter: brightness(75%);
                        }
                    }
                }

                &[hidden="0"] {
                    display: block;
                }
                &[hidden="1"] {
                    display: none;
                }
            }
        }
    }
}