header {
    text-align: center;
    margin-bottom: 20px;

    vscode-text-field {
        width: 50%;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    article {
        min-width: 135px;
        width: 15%;
        margin: 10px;
        background-color: rgba(255, 0, 0, 0.1);
        border-radius: 10px;
        border: 1px lightgrey solid;

        .copyValue {
            display: flex;
            justify-content: center;

            button {
                width: 50%;
                background-color: transparent;
                border: 1px lightgray solid;
                color: white;
                cursor: pointer;
                &:first-child {
                    border-radius: 0 0 0 5px;
                }
                &:last-child {
                    border-radius: 0 0 5px 0;
                }

                &:hover {
                    filter: brightness(75%);
                }
            }
        }
    }
    
}